// Преимущества
.features {
  padding-top: 94px;
  &__container {
    display: flex;
    flex-wrap: nowrap;
  }
  &-icon {
    width: 270px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;
  }
}

.features-list {
  & + & {
    margin-left: 30px;
  }
}

.features {
  li h3 {
    list-style: none;
    text-transform: uppercase;

    &-title {
      margin-bottom: 10px;
      font-weight: bold;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.03em;
      color: #212121;
    }
  }
}

.features p {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
