.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  &-container {
    display: flex;
    align-items: baseline;
  }
}
.contacts__footer-address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}
.footer-address-container {
  margin-right: 70px;
}

.footer-item > .contacts__contact-list:not(:last-child) {
  margin-bottom: 9px;
}

.contacts__footer-contact {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

/* Присоединяйтесь */

.join-us__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}

/* Подпишитесь на рассылку */

.subscribe {
  margin-left: 93px;
  &-wrap {
    display: flex;
  }
  &-title {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
  }
}

.newsletter__subscribe-input {
  padding-left: 16px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: #2f303a;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  color: #fff;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border-color: var(--accent-bg-color);
  }
}

::placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;

  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
