// Герой (без кнопки)
// .hero-container{
//   max-width: 1600px;
//   height: 600px;
// }   

// @media screen and (max-width: 768px) {
  
// }
  .hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2f303a;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  }

@media screen and (max-width: 768px) {
  .hero {
    width: 100%;
    height: 400px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)), url(../../images/hero-mobile.jpg);
    padding-top: 121px;
    padding-bottom: 115px;
  }
  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)),
        url(../../images/hero-mobile@2x.jpg)
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .hero {
    width: 100%;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)), url(../../images/hero-tablet.jpg);
    padding-top: 118px;
    padding-bottom: 118px;
  }
  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)),
        url(../../images/hero-tablet@2x.jpg);
    }
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    width: 100%;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)), url(../../images/hero-desktop.jpg);
  }
  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)),
        url(../../images/hero-desktop@2x.jpg);
    }
  }
}

@media screen and (min-width: 1200px) {
  .hero-container__text {
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
  }
}
@media screen and (max-width: 1200px) {
  .hero-container__text {
    width: 360px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
  }
}


