//Чем мы занимаемся
.works {
  padding-top: 94px;
  padding-bottom: 94px;
  &__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1, 16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
  }
  &-list {
    list-style: none;
    display: flex;
  }
  &-category {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;
    background: rgba(47, 48, 58, 0.8);
  }
}
.works-list__works-img {
  position: relative;
  &:not(:last-child) {
    margin-right: 30px;
  }
}
