// .container {
//   width: 1200px;
//   padding-left: 15px;
//   padding-right: 15px;
//   margin: 0 auto;
//   outline: 2px dashed #f44336;
// }

.container {
    padding-left: 15px;
    padding-right: 15px;
}

@media screen and (min-width: 479.98px) {
    .container {
        width: 480px;
        margin-left: auto;
        margin-right: auto; 
}
    }

@media screen and (min-width: 767.98px) {
    .container {
         width: 768px;
    }
}

@media screen and (min-width: 1199.98px) {
    .container {
        width: 1200px;
    }
}

